{% extends "agileform/event_planner.html" %}
{% load static %}
{% load label_filter %}

{% block panel2 %}

    {% if error_number == 0 %}
        <div class="alert alert-success" role="alert">
            Emails sent.
            <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
    {% if error_number > 0 %}
        <div class="alert alert-danger" role="alert">
            {{ error_string }}
            <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}

    Sending emails to attendees of: <strong>{{ event.name }}</strong><p></p>
    <form method="POST" name="send_email_to_attendees" action="{% url 'communications:index' event.id %}">
        {% csrf_token %}
        {% for field in form %}
            <p>{{ field | label_with_classes:"custom_label" }}
                {% if field.help_text %}
                    <i class="fa-sharp fa-regular fa-circle-info" data-bs-toggle="tooltip"
                       data-bs-html="true"
                       title="{{ field.help_text }}"></i>
                {% endif %}
            </p>
            <p>{{ field }}</p>
        {% endfor %}
        <div class="pt-2">
            <button class="btn btn-primary" type="submit">Send</button>
        </div>
    </form>
{% endblock %}

